body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
}

li {
    font-size: x-large;
}

main {
    background-color: black;
}

li {
    list-style-type: none;
}

.row {
    background-color: black;
}

.images {
    width: 100%;
}

.sidetext {
    position: absolute;
    bottom: 0.5em;
    right: 2.5em
}

.textmovie {
    color: white;
}

.btn {
    width: 40px;
    background-color: green;
    margin-right: 30px;
    ;
}

.likes1 {
    color: green;
}

.liketext {
    color: green;
    margin-right: 10px;
}