body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
  }

* {
    margin: 0;
    padding: 0;
}
.header {
    background-color:black;
}
li{
    font-size:x-large;
   
}
main{
    background-color:black;
    
}
li {
    list-style-type: none;
}
.row{
    background-color:black;
}


  